body {

    max-width: 800px;
    margin: 30px auto;
    border-radius: 5%;
    border: 15px solid silver;
  
}
h1 {
    text-align: center;
}

.box1 {
    margin: auto;
    
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    color: black;
    text;

    background-image: linear-gradient(
  300deg,
  
  hsl(250deg 87% 61%) 24%,
  hsl(247deg 70% 65%) 46%,
  magenta 97%
);
}


.box1-content {
    max-width: 100%;
    padding: 20px;

    
   
    

}

#input-no {
    font-size: 100px;
    margin: 0;
}

.box2 {
    margin: 0;
    align-items: center;
    text-align: center;
    background-color:black;
    color: lightsteelblue;
    padding: 20px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
   
    
}

span {
    font-size: 30px;
}


#length, #volume, #mass {
    font-size: 1.4rem;

}