body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.jpg");
    background-size: cover;
    font-weight: bold;
    color: lightgreen;
    text-align: center;
    font-size: 2.3 rem;
}

h1 {
    color: rgb(236, 174, 15);
    font-size: 3.2rem;
}

#message-el {
    font-style: italic bold;
}

button {
    color: #073a1e;
    width: 160px;
    background: rgb(228, 168, 16);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 1.2rem;
}