header {
    background-color: #F8F8F8;
    padding-top: 2em;
    text-align: center;
}


h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    padding: 0;
    margin: 0;
    
}

.subtitle {
    color:#1792D2;
    letter-spacing: 2.8px;
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
   
    margin: auto;
    font-weight: bold;
    padding: 0;
   
}

h2 {
    color: #143774;
    font-size: 24px;
}

nav {
    
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    font-weight: bold;
    padding: 0;
   
}


p {
    
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
    color:#707070;
    margin: auto;
    
    padding: 0;
   
}


ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: auto;

}

li {
    padding: 1em;
    

}

a {
    color: #707070;
    text-decoration: none;
}

 a:hover {
    
    color: darkcyan;
}

.current-page{
    border-bottom: #707070 2px solid;
    padding-bottom: 2px;
    
    
}

.current-page:hover {
    color: #707070;
}


@media (min-width:800px) {

    body {
       
        max-width: 80%;
        margin: auto; 
    }
     header {
         display: flex;
         justify-content: space-evenly;
         padding: 19px 20px;
        
         align-items: center;
         background-color: #f8f8f8;
     }
    

     nav {
         
         width: 100%;
         font-size: 0.8rem;
         
         
         
         
         background-color: #f8f8f8;
     }
}

main {
    width: 65%;
    margin: auto;
    border: #143774 2PX solid;
}
.box {
    display: flex;
    justify-content:space-between;
}

.boxA {
    width: 60%;
}

.boxB {
    width: 30%;
}

.samantha {
    width: 100%;
}